@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background-color: rgb(6, 58, 132);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
